<div class="contact">
  <h2>Contacto</h2>
  <ul>
    <li>Centro de Investigación Científica y de Educación Superior de Ensenada,CICESE</li>
    <li>Ciencias de la Tierra</li>
    <li>Ensenada, Baja California, Mexico</li>
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>{{ site.address }}</span></li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>{{ site.phone }}</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="{{ site.url }}">{{ site.url }}</a></li>
  </ul>
</div>
